name: CI Groupe-6

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  verify-project:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: List project files
      run: ls -R

    - name: Check PHP version
      run: php -v